* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921:  #1b1723;
  --color-3b4149:  #3b4149;
  --color-febd69: #febd69; 
  --color-eea444: #eea444;
  --color-232f3e: #232f3e;
  --color-5573e2: #5573e2;
  --color-bf4800: #bf4800;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

/* Header  */

.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

/* .header-bottom .dropdown button::before {
  content: url(../public/images/menu.png);
  gap: 2;
} */

.header-bottom .dropdown-menu {
  background-color: var(--color-232f3e);
  width: 100%;
}

.header-bottom .dropdown-item:hover {
 background-color: transparent;
  border-left: 5px solid var(--color-5573e2);
  color: var(--color-febd69) !important;
}
/* Header End*/

/* HOME */
.main-banner-content {
  top: 15%;
  left: 10%;
}

.main-banner-content h4{
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.button {
  background-color: var(--color-febd69);
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30%;
  padding: 13px 33px;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--color-eea444);
  color: white;
  transform: translateY(5px);
}

/* HOME End 1:36 */ 




/* FOOTER */
footer {
  background-color: var(--color-131921);
}

footer .input-group-text {
  background-color: var(--color-232f3e) !important;
  color: white;
  text-transform: uppercase;
}
/* FOOTER End */