* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921:  #1b1723;
  --color-3b4149:  #3b4149;
  --color-febd69: #febd69; 
  --color-eea444: #eea444;
  --color-232f3e: #232f3e;
  --color-5573e2: #5573e2;
  --color-bf4800: #bf4800;
  --color-f5f5dc: #f5f5dc;
  --color-0000001a: #0000001a;
 --color-1c1c1b: #1c1c1b;

}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

/* Header  */

.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-upper .header-upper-links p{
  line-height: 20px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

/* .header-bottom .dropdown button::before {
  content: url(../public/images/menu.png);
  gap: 2;
} */

.header-bottom .dropdown-menu {
  background-color: var(--color-232f3e);
  width: 100%;
}

.header-bottom .dropdown-item:hover {
 background-color: transparent;
  border-left: 5px solid var(--color-5573e2);
  color: var(--color-febd69) !important;
}
/* Header End*/

/* HOME */
.home-wrapper-1{
  background-color: var(--color-f5f5dc);
}
.main-banner:hover {
 transform: scale(1.2);
 z-index: 1;
 transition: 0.3s;
}
.main-banner-content {
  top: 20%;
  left: 10%;
}

.main-banner-content h4{
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  color: var(--color-bf4800);
  margin: 0 0 3rem;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 52px;
  font-weight: 500;
  line-height: 52px;
  color: white;
  margin: 0 0 12px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p{
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin: 0 0 12px;
  letter-spacing: .3px;
}

.button {
  background-color: var(--color-febd69);
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20%;
  padding: 13px 33px;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--color-eea444);
  color: white;
  transform: translateY(5px);
}

.small-banner {
  width: 49%;
}

.small-banner:hover {
  transform: scale(1.3);
  z-index: 1;
  transition: 0.3s;
}

.small-banner-content {
  top: 20%;
  left: 10%;
  background-color: #1b172386;
  
}

.small-banner-content h4{
  font-size: 34px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: .3px;
}

.small-banner-content h5{
  font-size: 34px;
  font-weight: 600;
  line-height: 34px;
  color: white;
  margin: 0 0 12px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p{
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  margin: 0 0 12px;
  letter-spacing: .3px;
}

/* home-wrapper-2 Services*/
.home-wrapper-2 {
  background-color: var(--color-232f3e);

}

/* home-wrapper-3 Categories*/
.home-wrapper-3 {
  background-color: var(--color-f5f5dc);
}

.home-wrapper-3  .categories{
  background-color:white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-0000001a);
  
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-0000001a);
  /* box-shadow: 0 0 10px #0000001a; */
}

/* Famous Product */

.famous-card .famous-content {
  top: 5%;
  left: 5%;
}
.famous-card img{
  border-radius: 10px;
}

.famous-content h5 {
 font-size: 24px;
 color: white;
 margin-bottom: 5%;
}
.famous-content h6 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 10%;
}
.famous-content p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.79);
}


/* Special Products */
.special-product-card{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

/* Marquee Section */
.marquee-inner-wrapper  {
  box-shadow: 0 0 10px #0000001a; 
}


/* HOME End*/ 


/* Blog Card */
.blog-card {
  background-color: white;
  border-radius: 10px;
}

.blog-card img{
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 20px;
}

 .date {
  color: darkgray;
  font-size: 16px;
}
.desc {
  word-wrap: break-word;
  
}

.blog-content .button{
  background-color: var(--color-232f3e);
  margin-top: 10%;
}

/* Product Card */

.product-card {
  background-color: white;
 padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.product-card:hover .action-bar{
  right: 15px;
}

.product-card h6 {
  color: var(--color-bf4800);
  font-size: 18px;
}

.price {
  color: var(--color-131921);
  font-size: 24px;
}

.action-bar {
  top: 55%;
  right: -23%;
  transition: 0.3s;
}

.action-bar img {
  width: 25px;
  height: auto;
}

.action-bar img:hover {
 background-color: var(--color-febd69);
 border-radius: 50%;
}

.wishlist-icon{
  top: 5%;
  right: 15px;
}


/* FOOTER */
footer {
  background-color: var(--color-131921);
}

footer .input-group-text {
  background-color: var(--color-232f3e) !important;
  color: white;
  text-transform: uppercase;
}
/* FOOTER End */

/* Our Store Page */
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}

.filter-title{
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
} 

.filter-card .form-check-input:focus {
  border-color:var(--color-5573e2);
  box-shadow: none;
}

.filter-card .form-check-input:checked {
 background-color:var(--color-5573e2);

}

.sub-title{
  font-size: 18px;
  font-weight: 600;
 margin-top: 15px;
}

.colors {
  list-style-type:square;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 24px;
  height: 24px;
  background-color: red;
  /* border-radius: 50%; */
}

.random-products:first-child {
  border-bottom: 1px solid #aeb3ba;
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.grid img {
  width: 32px;
  height: 32px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 3px;
}
.grid img:hover {
  background-color: #b8b5b5;
}